.announce {
  background: linear-gradient(90deg, var(--nitro-deep), var(--nitro-blue));
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-data);
  font-size: 12px;
  letter-spacing: .06em;
  color: var(--carbon-900);
  font-weight: 500;
  text-transform: uppercase;
}
